@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 0.5fr 5.5fr 0.25fr;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
}

#header {
    background-color: #333;
    grid-column: 1 / 3;

    display: flex;
    align-items: center;
    padding: 1rem;
}

h1.title {
    color: #fefefe;
}

#main {
    background-color: rgb(188, 188, 188);
    padding: 2rem;
    border: black 1px solid;
    overflow: scroll;
}

#main .add-book-btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: gold;
    color: #fefefe;
    font-weight: 700;
    font-size: 20px;
}

#main .add-book-btn:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#book-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 3rem;
    padding-top: 2rem;
}

#book-holder .book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: relative;
    padding-left: 3.5rem;
    height: 420px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    background: url(book-cover.jpeg);
    background-size:cover;
    color: #fefefe;
    font-weight: 700;
}

.book-author, 
.book-title {
    display: inline-block;
    width: 150px;
    height: 3rem;
    overflow: scroll;
    overflow-wrap: break-word;
}

#book-holder .book-card .delete-book {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0 6px 0 6px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #fefefe;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
}

#book-holder .book-card .delete-book:hover {
    cursor: pointer;
} 

#book-holder .book-card .book-read-status {
    width: 6rem;
    border: none;
    border-radius: 10px;
    padding: 0.25rem 0 0.25rem 0;
    color: #fefefe;
    font-size: 16px;
    font-weight: 700;
}

#book-holder .book-card .book-read-status:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#modal.active {
    display: block;
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    background-color: rgb(188, 188, 188);
    border: 1px solid black;
    border-radius: 10px;
    height: 350px;
    width: 250px;
    padding: 1rem;
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.book-info input {
    border: none;
    border-radius: 10px;
    height: 1.25rem;
    width: 25ch;
    padding: 4px;
}

.label-read-status {
    padding-right: 25px;
    position: absolute;
    left: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#modal .close-modal {
    color: #333;
    font-size: 28px;
    align-self: flex-start;
}

#modal .close-modal:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#modal .submit-book {
    margin-top: 1rem;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fefefe;
}

#modal .submit-book:hover {
    cursor: pointer;
}

#tracker {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #fefefe;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.stat-tracker-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0 1rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.stat-tracker-container p {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

#footer {
    grid-column: 1 / 3;
    grid-row: 3 / span 2;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fefefe;
}